<div class="shadow w-[645px] mt-4 border border-gray-200 rounded-lg p-2">
  <form (submit)="reply($event)" class="flex flex-col">
    <label class="relative" for="">
      <textarea [(ngModel)]="form.content" class="w-full p-2 text-gray-500 focus:outline-none"
      name="content"
      rows="5" placeholder="Your reply will go here..."></textarea>
      <button
      class="absolute right-0 bottom-0 z-20 py-2 px-4 rounded-lg bg-gray-200
      font-medium text-sm text-gray-600
    hover:bg-gray-300 hover:text-gray-700">Send</button>
    </label>
    <hr class="h-px my-4 bg-gray-200 border-0 w-3/4 self-center">
  </form>
  <div>
    <h1 class="font-semibold ml-2">Replies</h1>
    @for (item of replies; track $index) {
      <app-reply-single [reply]="item"/>
    }
  </div>
</div>
