form > button:hover {
  transition: ease-in 200ms;
  background-color: #c7c7c7;
  color: #FFFFFF;
}

form > input {
  border-radius: 5px;
}

form > button::after {
  background-color: #c7c7c7;
  color: #FFFFFF;
}
