<button (click)="displayForm = !displayForm"
  class="rounded-lg px-4 py-2 bg-gray-200
    font-medium text-sm text-gray-600
    hover:bg-gray-300 hover:text-gray-700">
  <span>
  Sign in
  </span>
</button>
@if (displayForm) {
  <div class="h-screen flex items-start justify-center
    overflow-y-auto overflow-x-hidden
    fixed left-0 right-0 z-50 top-[20%]">
    <div class="w-[400px] overflow-x-hidden">
      <div class="inline-flex items-center transition-transform ease-in"
      [class.translate-x-[-400px]]="isSignUp">
      <!-- Sign in box -->
        <form
          class="w-[400px] h-fit py-2 pb-6 px-4 flex flex-col justify-center bg-white border rounded-md"
          (submit)="onLoginFormSubmit()">
          <div class="self-end">
            <svg class="cursor-pointer rounded-full p-1 hover:bg-gray-200"
            (click)="displayForm = !displayForm"
            width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M19 5L5 19M5.00001 5L19 19" stroke="#000000" stroke-width="1.272" stroke-linecap="round" stroke-linejoin="round">
                </path>
              </g>
            </svg>
          </div>
          <h1 class="text-2xl self-center mb-2 font-medium">Sign in</h1>
          <label class="ml-1 font-medium" for="username">Username</label>
          <input class="border mb-1 p-1 text-sm focus:outline-none"
            name="username"
            required
            placeholder="johndoe@yourcompany.com"
            type="text"
            [(ngModel)]="loginForm.username">
          <label class="ml-1 font-medium" for="password">Password</label>
          <input class="border mb-2 select-none p-1 text-sm focus:outline-none"
            name="password"
            required
            placeholder="********"
            type="password"
            [(ngModel)]="loginForm.password">

          <button type="submit"
            class="py-1 w-1/2 self-center border rounded-lg bg-gray-200 flex justify-center
            font-medium text-gray-600
          hover:bg-gray-300 hover:text-gray-700"
            [class.cursor-wait]="isLoading"
            [disabled]="isLoading">
            @if (!isLoading) {
              <div>Submit</div>
            }
            @else {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="24" height="24" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="#ffffff" fill="none" cy="50" cx="50">
                <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
              </circle><g></g></g>
              </svg>
            }
          </button>

          <p class="ml-1 my-1
            text-red-500 text-sm"
            id="error">{{ loginFailed ? 'Authentication failed' : '' }}</p>

          <div class="text-sm text-blue-400 mt-1"
          >First time here?
            <span class="font-medium underline underline-offset-2
            hover:text-blue-600 cursor-pointer"
            (click)="isSignUp = true"> Sign up</span>
          </div>

          <div
          class="flex items-center gap-1 border-2 p-1 rounded-lg w-2/3 mt-2
          hover:bg-gray-100 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
            <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
            </svg>
            <span class="font-medium">Sign in with Google</span></div>
        </form>
        <!-- Sign up box -->
        <form
          class="w-[400px] py-2 pb-6 px-4 flex flex-col justify-center bg-white border rounded-md"
          (submit)="onRegisterFormSubmit($event)">
          <div class="self-end">
            <svg class="cursor-pointer rounded-full p-1 hover:bg-gray-200"
            (click)="displayForm = !displayForm"
            width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M19 5L5 19M5.00001 5L19 19" stroke="#000000" stroke-width="1.272" stroke-linecap="round" stroke-linejoin="round">
                </path>
              </g>
            </svg>
          </div>
          <h1 class="text-2xl self-center mb-2 font-medium">Sign up</h1>
          <label class="ml-1 font-medium" for="username">Full name</label>
          <input class="border mb-1 p-1 text-sm focus:outline-none"
            required
            placeholder="John Doe"
            name="fullName"
            [(ngModel)]="registerForm.fullName"
            type="text">
          <label class="ml-1 font-medium" for="username">Email</label>
          <input class="border mb-1 p-1 text-sm focus:outline-none"
            required
            placeholder="johndoe@yourcompany.com"
            name="userame"
            [(ngModel)]="registerForm.username"
            type="text">
          <label class="ml-1 font-medium" for="password">Password</label>
          <input class="border mb-2 select-none p-1 text-sm focus:outline-none"
            required
            placeholder="********"
            name="password"
            [(ngModel)]="registerForm.password"
            type="password">
            <label class="ml-1 font-medium" for="password">Confirm password</label>
          <input class="border mb-2 select-none p-1 text-sm focus:outline-none"
            required
            placeholder="********"
            type="password">
          <button type="submit"
            class="py-1 w-1/2 self-center border rounded-lg bg-gray-200 flex justify-center
            font-medium text-gray-600
          hover:bg-gray-300 hover:text-gray-700"
            [class.cursor-wait]="isLoading"
            [disabled]="isLoading">
            @if (!isLoading) {
              <div>Submit</div>
            }
            @else {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="24" height="24" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="#ffffff" fill="none" cy="50" cx="50">
                <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
              </circle><g></g></g>
              </svg>
            }
          </button>

          <p class="ml-1 my-1
            text-red-500 text-sm"
            id="error">{{ loginFailed ? 'Authentication failed' : '' }}</p>

          <div class="text-sm text-blue-400 mt-1"
          >Already have an account?
            <span class="font-medium underline underline-offset-2
            hover:text-blue-600 cursor-pointer"
            (click)="isSignUp = false"> Sign in</span>
          </div>
        </form>
      </div>
    </div>
  </div>
}
