<button
  [disabled]="index == 0"
  [class]="index == 0 ? '' : 'cursor-pointer hover:bg-gray-100 hover:opacity-100'"
  class="relative top-[130px] bg-gray-50 opacity-35 rounded-full z-50"
  (click)="index = index - 1">
  <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>
<button
  [disabled]="index >= imagesSQ.length - 2"
  [class]="index >= imagesSQ.length - 2 ? '' : 'cursor-pointer hover:bg-gray-100 hover:opacity-100'"
  class="relative top-[130px] left-[500px] bg-gray-50 opacity-35 rounded-full z-50"
  (click)="index = index + 1">
  <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>

<div class="p-2 inline-flex gap-1 carousel">
  @for (item of imagesSQ; track $index) {
    <div
    class="h-[200px] w-[200px] bg-gray-200 carousel-item rounded-lg
    flex items-center justify-center"
    [style.transform]="'translateX(' + (-200 * index) + 'px)'">
      <img class="rounded-lg" src="https://i.pinimg.com/736x/a9/7b/bb/a97bbbb18ff8a278542bf62308d722d2.jpg" alt="">
    </div>
  }
</div>

