<div class="flex justify-center ml-20" appHomeScroll (scrolledToBottom)="loadPost()">
  <div class="grid lg:grid-cols-2 gap-5">
  @for (item of posts; track $index) {
    <app-post-card class="relative"
    [form]="item">
    {{ item.content }}
      <a [routerLink]="'/post/' + item.id"
      class="absolute right-7 top-5
      text-sm font-medium text-gray-400
      hover:text-gray-600 hover:underline hover:underline-offset-2">
        Read
      </a>
    </app-post-card>
  }
  @if (isLoading) {
    @for (item of [1,1,1]; track $index) {
      <app-loading-card></app-loading-card>
    }
  }
  </div>
</div>
@if (serverDown && !isLoading) {
  <div class="h-screen flex items-center justify-center">
    <div>
      <img class="max-h-[500px] rounded-lg" src="images/500.jpg" alt="">
      <h1 class="text-center text-4xl">500 - The server is dead</h1>
    </div>
  </div>
}
