<div class="flex items-center justify-center mt-20">
  <div>
  @for (item of posts; track $index) {
    <app-post-card [title]="item.title"/>
  }
  </div>
  @if (isLoading) {
    <div>
      @for (item of [1,1,1]; track $index) {
        <app-loading-card></app-loading-card>
      }
    </div>
  }
</div>
@if (serverDown && !isLoading) {
  <div class="h-screen flex items-center justify-center">
    <div>
      <img class="max-h-[500px] rounded-lg" src="images/500.jpg" alt="">
      <h1 class="text-center text-4xl">500 - The server is dead</h1>
    </div>
  </div>
}
