<div class="flex items-start justify-center">
  <form (submit)="upload($event)" class="border my-24 ml-4 p-3 w-3/5 mr-2 bg-white">
    <div class="text-center w-full text-2xl mb-2 font-medium">
      Create a post
    </div>
    <div>
      <label class="font-medium" for=""><span class="text-red-600">*</span> Title</label>
      <input class="px-1 py-1 border w-full focus:outline-none"
      type="text" name="title"
      required
      [(ngModel)]="form.title">
    </div>
    <div class="mt-2">
      <label class="font-medium" for=""><span class="text-red-600">*</span> Tag</label>
      <br>
      <select [(ngModel)]="form.type"
      name="type"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg px-1 py-1 focus:outline-none">
        <option value="THANH_HUYEN">Thanh Huyen</option>
        <option value="BOOK">Book</option>
        <option value="LIFE_STYLE">Life style</option>
        <option value="SELF_TALK">Self-talk</option>
      </select>
    </div>
    <div class="mt-2">
      <label class="font-medium" for=""><span class="text-red-600">*</span> Content</label>
      <textarea id="editor" rows="10"
      [(ngModel)]="form.content"
      name="content"
      class="w-full px-1 text-sm text-gray-800 bg-white border py-2 rounded-b-lg focus:outline-none" placeholder="Write an article..."
      required></textarea>
    </div>
    <div>
      <label class="font-medium" for="">Images</label>
      <br>
      <div class="flex flex-wrap gap-2">
        @for (item of form.files; track $index) {
          <label class="flex flex-col items-center justify-center h-48 p-1 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 mr-2 relative">
            <img class="max-h-[180px]" [src]="item.blobUrl" alt="">
            <div class="absolute -top-4 -right-4 rounded-full bg-gray-200 cursor-pointer opacity-50 hover:opacity-100"
            (click)="deleteBlob($index)">
            <svg class="cursor-pointer rounded-full p-1 hover:bg-gray-200" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 5L5 19M5.00001 5L19 19" stroke="#000000" stroke-width="1.272" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </div>
          </label>
        }
        <label for="dropzone-file" class="flex flex-col items-center justify-center h-48 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-200">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-2 text-sm text-gray-500 w-[200px] text-center font-semibold">Click to upload</p>
          </div>
          <input (change)="displayBlob($event)" id="dropzone-file" type="file" accept=".png, .jpg, .jpeg" class="hidden" name="file"/>
        </label>
      </div>
    </div>
    <button type="submit"
      class="mt-4 py-1 w-[150px] rounded-lg bg-gray-200 flex justify-center
      font-medium text-sm text-gray-600
    hover:bg-gray-300 hover:text-gray-700"
      [class.cursor-wait]="isLoading"
      [class.bg-gray-300]="isLoading"
      [disabled]="isLoading">
      @if (!isLoading) {
        <div>Publish</div>
      }
      @else {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="24" height="24" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="#ffffff" fill="none" cy="50" cx="50">
          <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
        </circle><g></g></g><!-- [ldio] generated by https://loading.io --></svg>
        
      }
    </button>
  </form>
</div>
@if(uploadMessage !== null)
  {
    <app-popup-message [message]="uploadMessage.message" [type]="uploadMessage.type"/>
  }